@media screen and (max-width: 1300px) {
  .container {
    width: calc(100% - 30px);
  }
  .section__news .news__list {
    width: 820px;
    margin: 15px auto 0 auto;
  }
  .information__list .information__list-item {
    width: 45%;
  }
  .wrapper__content {
    top: 120px;
  }
  .section__footer {
    padding-top: 290px;
  }
  .section .section__title h1 {
    font-size: 55px;
    max-width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  
}