body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 16px;
  font-family: 'Raleway', 'Roboto', sans-serif;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section input, .section textarea {
  font-family: 'Raleway', 'Roboto', sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
}
h1,h2,h3,h4,h5,h6,p {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  width: 1270px;
  margin: 0 auto;
}

.title h2{
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.title::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background-color: #c7232c;
  margin-top: 5px;
}

.button__down {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translatex(-50%);
}

.button__down a {
  display: inline-block;
  text-align: center;
}

.button__down a:hover span{
  margin-bottom: 25px;
}

.button__down span{
  font-weight: 700;
  display: block;
  margin: 30px;
  transition: margin 0.35s;
  margin-bottom: 15px;
}

.button {
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
}

.button::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: #000;
  transition: width 1s;
}

.button:hover::after {
  width: 100%;
}

.section {
  position: relative;
  padding: 50px 0;
}

.section-bg {
  padding: 0;
  background: url('../images/bg.jpg') no-repeat center/cover;
  height: 900px;
}

.section-bg .container {
  position: relative;
  height: 100%;
}

.section .header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}

.section .header .search form {
  display: flex;
}

.section .header .search input[type='search']{
  width: 340px;
  height: 27px;
  background-color: #fff;
  background-color: rgba(26, 26, 26, 0.8);
  color: #D8D8D8;
  font-size: 12px;
  font-weight: 500;
  text-indent: 20px;
}

.section .header .header__block {
  width: 45%;
}
.section .header .header__block.logo {
  width: 10%;
}

.section .header .search input[type='submit'] {
  background: url('../images/icons/search.svg') #000 no-repeat center;
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.logo a {
  display: block;
  text-align: center;
}

.menu ul{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.menu ul li {
  margin-left: 25px;
}

.menu ul li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  transition: color 0.3s;
}

.menu ul li a:hover {
  color: #c7232c;
}

.section .section__title {
  margin-top: 140px;
}

.section .section__title h1{
  font-size: 70px;
  font-weight: 700;
  max-width: 690px;
}

.section__cards {
  position: absolute;
  top: 200px;
  right: 0px;
}

.section__cards .section__cards-item {
  width: 350px;
  height: 340px;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}

.section__cards .section__cards-item .img__wrapper {
  width: 100%;
  height: 150px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.section__cards .section__cards-item .img__wrapper:hover img {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.section__cards .section__cards-item .item__content {
  padding: 13px;
}

.section__cards .section__cards-item .item__content .item__content-title {
  font-size: 18px;
  font-weight: 700;
}

.section__cards .section__cards-item .item__content .item__content-title::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background-color: #c7232c;
  margin-top: 5px;
}

.section__cards .section__cards-item .item__content .item__content-date {
  font-size: 12px;
  font-weight: 500;
  margin-top: 9px;
}

.section__cards .section__cards-item .item__content p {
  margin-top: 15px;
  color: #000;
  font-size: 14px;
  line-height: 126%;
}

.section__cards .section__cards-item .item__content .button {
  float: right;
  margin: 15px;
}
/* Section news */

.section__news .news__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}
.section__news .news__list .news__list-item {
  width: 400px;
  height: 280px;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.section__news .news__list .news__list-item img {
  width: 100%;
}

.section__news .news__list .news__list-item .news__title {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  right: 0;
  padding: 10px;
  visibility: hidden;
  transform: translatey(45px);
  transition: transform 0.3s;
}
.section__news .news__list .news__list-item:hover .news__title {
  transform: translatey(0);
  visibility: visible;
}
.section__news .news__list .news__list-item h3 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
/* Section about */
.information__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.information__list .information__list-item {
  width: 25%;
}
.information__list .information__list-item h3{
  color: #000;
}