body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-size: 16px;
  font-family: 'Raleway', 'Roboto', sans-serif;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section input, .section textarea {
  font-family: 'Raleway', 'Roboto', sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
}
h1,h2,h3,h4,h5,h6,p {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.container {
  width: 1270px;
  margin: 0 auto;
}

.title h2{
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.title::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background-color: #c7232c;
  margin-top: 5px;
}

.button__down {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translatex(-50%);
}

.button__down a {
  display: inline-block;
  text-align: center;
}

.button__down a:hover span{
  margin-bottom: 25px;
}

.button__down span{
  font-weight: 700;
  display: block;
  transition: margin 0.35s;
  margin-bottom: 15px;
}

.button {
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
}

.button::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: #000;
  transition: width 0.35s;
}

.button:hover::after {
  width: 100%;
}

.section {
  position: relative;
  padding: 50px 0;
}

.section-bg {
  padding: 0;
  background: url('../images/bg.jpg') no-repeat center/cover;
  height: 900px;
  z-index: 9;
}

.section-bg .container {
  position: relative;
  height: 100%;
}

.section .header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
}

.section .header .search form {
  display: flex;
}

.section .header .search input[type='search']{
  width: 340px;
  height: 27px;
  background-color: #fff;
  background-color: rgba(26, 26, 26, 0.8);
  color: #D8D8D8;
  font-size: 12px;
  font-weight: 500;
  text-indent: 20px;
}

.section .header .header__block {
  width: 45%;
}
.section .header .header__block.logo {
  width: 10%;
}

.section .header .search input[type='submit'] {
  background: url('../images/icons/search.svg') #000 no-repeat center;
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.logo a {
  display: block;
  text-align: center;
}

.menu ul{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.menu ul li {
  margin-left: 25px;
}

.menu ul li a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  transition: color 0.3s;
}

.menu ul li a:hover {
  color: #c7232c;
}

.section .section__title {
  margin-top: 140px;
}

.section .section__title h1{
  font-size: 70px;
  font-weight: 700;
  max-width: 690px;
}

.section__cards {
  position: absolute;
  top: 200px;
  right: 0px;
}

.section__cards .section__cards-item {
  width: 350px;
  height: 340px;
  overflow: hidden;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}

.section__cards .section__cards-item .img__wrapper {
  width: 100%;
  height: 150px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.section__cards .section__cards-item .img__wrapper:hover img {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.section__cards .section__cards-item .item__content {
  padding: 13px;
}

.section__cards .section__cards-item .item__content .item__content-title {
  font-size: 18px;
  font-weight: 700;
}

.section__cards .section__cards-item .item__content .item__content-title::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background-color: #c7232c;
  margin-top: 5px;
}

.section__cards .section__cards-item .item__content .item__content-date {
  font-size: 12px;
  font-weight: 500;
  margin-top: 9px;
}

.section__cards .section__cards-item .item__content p {
  margin-top: 15px;
  color: #000;
  font-size: 14px;
  line-height: 126%;
}

.section__cards .section__cards-item .item__content .button {
  margin-top: 15px;
  float: right;

}
/* Section news */

.section__news .news__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}
.section__news .news__list .news__list-item {
  width: 400px;
  height: 280px;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.section__news .news__list .news__list-item img {
  width: 100%;
}

.section__news .news__list .news__list-item .news__title {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  right: 0;
  padding: 10px;
  visibility: hidden;
  transform: translatey(45px);
  transition: transform 0.3s;
}
.section__news .news__list .news__list-item:hover .news__title {
  transform: translatey(0);
  visibility: visible;
}
.section__news .news__list .news__list-item h3 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
/* Section about */
.information__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
}
.information__list .information__list-item {
  width: 22%;
  margin: 5px 0;
}
.information__list .information__list-item h3{
  color: #000;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  padding-left: 40px;
}
.information__list .information__list-item:first-child h3 {
  background: url('../images/icons/phone.svg') no-repeat 0 center/contain;
}
.information__list .information__list-item:nth-child(2) h3 {
  background: url('../images/icons/design.svg') no-repeat 0 center/contain;
}
.information__list .information__list-item:nth-child(3) h3 {
  background: url('../images/icons/about.svg') no-repeat 0 center/contain;
}
.information__list .information__list-item:nth-child(4) h3 {
  background: url('../images/icons/government.svg') no-repeat 0 center/contain;
}
.information__list .information__list-item p {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  margin-top: 15px;
}
/* App section */
.app__list {
  margin-top: 35px;
}
.app__list .app__list-item {
  display: flex;
  margin: 20px 0;
  align-items: center;
}
.app__list .app__list-item:nth-child(2n) .item__content{
  order: -1;
  padding-left: 0;
}

.app__list .app__list-item .img__wrapper {
  width: 50%;
}
.app__list .app__list-item .item__content {
  width: 50%;
  padding: 0 30px;
}
.app__list .app__list-item .item__content h3 {
  font-weight: 500;
  color: #000;
  line-height: 24px;
  margin: 25px 0;
}
.button__red {
  background-color: #E82934;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 45px;
  transition: background 0.35s;
}
.button__red:hover {
  background-color: #a42128;
}

/* Section intro */
.section__intro {
  height: 380px;
  z-index: 2;
}
.wrapper__content {
  width: 885px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper__content .content__text {
  padding: 15px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  background: url('../images/icons/fire.svg') right bottom/auto no-repeat;
}
.wrapper__content .content__text p {
  color: #000;
  font-weight: 500;
  line-height: 28px;
}
.wrapper__content .content__text p span {
  font-style: italic;
  display: block;
  font-weight: 700;
}
/* Footer */
.section__footer {
  background-color: #686666;
  z-index: 1;
  padding-bottom: 10px;
  padding-top: 250px;
}
.menus {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 885px;
  margin: 0 auto;
}
.menus ul {
  width: 28%;
}
.menus ul li {
  margin: 25px 0;
}
.menus ul li a {
  line-height: 25px;
  font-weight: 500;
  transition: color 0.3s;
}
.menus ul li a:hover {
  color: #c7232c;
}
.bottom__menu {
  margin-top: 70px;
}
.bottom__menu ul {
  display: flex;
  justify-content: center;
}
.bottom__menu ul li {
  margin: 0 10px;
}
.bottom__menu ul li a {
  font-size: 13px;
  font-weight: 500;
  color: #c8c8c8;
}